<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>


    <style>
        body {
            background-image: url("https://img.freepik.com/free-vector/finance-department-employees-are-calculating-expenses-company-s-business_1150-41782.jpg?size=626&ext=jpg&ga=GA1.2.977045461.1664646381&semt=sph");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 60% 100%;
        }
    </style>

</head>

<body>



</body>

</html>